pyspark[sql,pandas_on_spark,ml]
plotly
matplotlib
scikit-learn
numpy
pandas
pyarrow
confluent-kafka
apache-airflow==3.0.3 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-3.0.3/constraints-3.12.txt
apache-airflow[celery]
apache-airflow-providers-amazon[s3fs]
duckdb